In [1]:
import requests
import pandas as pd

In [4]:
url = 'https://api.openweathermap.org/data/2.5/weather?lat=6.52&lon=3.37&appid=e3ada8395a9147adf25d604e9613e9ef'

In [5]:
response= requests.get(url)
response.text

'{"coord":{"lon":3.37,"lat":6.52},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":304.44,"feels_like":307.85,"temp_min":304.44,"temp_max":304.44,"pressure":1009,"humidity":57,"sea_level":1009,"grnd_level":1007},"visibility":10000,"wind":{"speed":3.49,"deg":189,"gust":2.92},"clouds":{"all":68},"dt":1708869832,"sys":{"country":"NG","sunrise":1708840846,"sunset":1708883938},"timezone":3600,"id":2566677,"name":"Shogunle","cod":200}'

In [6]:
weather_data = response.json()
weather_data

{'coord': {'lon': 3.37, 'lat': 6.52},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 304.44,
  'feels_like': 307.85,
  'temp_min': 304.44,
  'temp_max': 304.44,
  'pressure': 1009,
  'humidity': 57,
  'sea_level': 1009,
  'grnd_level': 1007},
 'visibility': 10000,
 'wind': {'speed': 3.49, 'deg': 189, 'gust': 2.92},
 'clouds': {'all': 68},
 'dt': 1708869832,
 'sys': {'country': 'NG', 'sunrise': 1708840846, 'sunset': 1708883938},
 'timezone': 3600,
 'id': 2566677,
 'name': 'Shogunle',
 'cod': 200}

In [7]:
city_name = weather_data['name']
city_name

'Shogunle'

In [10]:
city_name = weather_data["wind"] ['deg']
city_name

189

In [11]:
city_name = weather_data["clouds"]
city_name

{'all': 68}

In [12]:
city_name = weather_data["sys"] ['sunset']
city_name

1708883938

In [13]:
city_name = weather_data["base"] 
city_name

'stations'

In [18]:
city_id = weather_data["id"] 
city_name = weather_data["name"]
city_temp = weather_data["main"] ['temp']
city_hum = weather_data["main"] ['humidity']
city_dt = weather_data["dt"]

In [19]:
city_df = pd.DataFrame({'city_id': [city_id], 'city_name':[city_name],'temperature':[city_temp],'humidity':[city_hum],'date':[city_dt]})

In [20]:
city_df

   city_id city_name  temperature  humidity        date
0  2566677  Shogunle       304.44        57  1708869832